body {
	background-color: white;
}

h1 {
    color: green;
    float: center;
    text-align: center;
    margin-top: 275px;
    position: relative;
    bottom: 100px;
}

#searchbox {
    height: 30px;
    text-align: center;
}

#search {
    height: 40px;
    /*border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: white;*/
    border-radius: 50px;
    position: relative;
    bottom: 100px;
}

#top-left {
    position: absolute;
    top: 15px;
    text-decoration: none;
    word-spacing: 10px;
    font-size: 14px;
    color: grey;
    padding-left: 20px;;
    padding-top: 10px;
}


#top-right {
    position: relative;
    left: 1025px;
    top: 10px;
    word-spacing: 10px;
    font-size: 14px;
    color: grey;
    padding-top: 10px;
}

a {
    text-decoration: none;
    font-family: arial, sans-serif;
}

#buttons {
    position: relative;
    text-align: center;
    /*top: 55px;*/
    bottom: 50px;
}

.search {
    background-color: rgb(240, 240, 245);
    padding: 10px;
    font-size: smaller;
    border-radius:5px;
}

footer {
    position: relative;
    top: 350px;
    background-color:rgb(240, 240, 245);
    height: 45px;
    width: 1250px;
    border-top-color:black;
    border-top-width: 10px;
}

#bottom-left {
    position: relative;
    top: 18px;
    font-size: 14px;
    word-spacing: 10px;
    color: grey;
    padding-left: 20px;
    word-spacing: 15px;
}

#bottom-right {
    position: relative;
    left: 1040px;
    font-size: 14px;
    word-spacing: 15px;
    color: grey;
    top: 0px;
}

